<hr />
<hr />
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar ghis-mt">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/gojs-sample" routerLinkActive="active">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gojs-sample/app-gojs-table" routerLinkActive="active">
              <span data-feather="file"></span>
              Table
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gojs-sample/app-dynamic-ports" routerLinkActive="active">
              <span data-feather="shopping-cart"></span>
              app-dynamic-ports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <div class="col-8">
      <router-outlet></router-outlet>
      <!-- Routed components child go here -->
    </div>

  </div>

</div>
